<div class="max-w-sm mx-auto mt-32 text-center">
  <img class="max-w-48 mx-auto" src="<%= asset_path("logo-coloured.svg") %>" alt="Taskodoro logo">
  <div>
    <h1 class="font-normal mx-0 mb-0"><%= t("landing.welcome") %></h1>
    <h1 class="text-primary-gradient font-bold"><%= t("app_name") %></h1>
  </div>
  <div>
    <a class="btn-primary" href="<%= new_signin_path %>">
      <%= t("auth.signin") %>
    </a>
    <a class="btn-primary" href="<%= new_signup_path %>">
      <%= t("auth.signup") %>
    </a>
  </div>
</div>