<div class="max-w-md mx-auto">
  <div class="text-center">
    <img class="max-w-24 mx-auto mb-4 mt-16" src="<%= asset_path("logo-coloured.svg") %>" alt="Taskodoro logo">
    <h2 class="my-4"><%= t("auth.password_reset.title") %></h2>
  </div>
  <div class="form-container">
    <%= form_with model: @user, url: password_path(token: params[:token]) do |form| %>
      <% if form.object.errors.any? %>
        <div class="error-container">
          <% form.object.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </div>
      <% end %>
      <% error = form.object.errors.messages.key?(:password_confirmation) %>
      <div>
        <%= form.label :password, t("auth.password_reset.password_label"), class: "label" %>
        <%= form.password_field :password, required: true, class: "input #{ "input-error" if error}" %>
      </div>
      <div>
        <%= form.label :password_confirmation, t("auth.password_reset.confirmation_label"), class: "label" %>
        <%= form.password_field :password_confirmation, required: true, class: "input #{ "input-error" if error}" %>
      </div>
      <div class="text-center">
        <%= form.submit t("auth.password_reset.button"), class: "btn-primary mx-0 w-full" %>
      </div>
    <% end %>
  </div>
</div>