<% content_for :title, @project.title %>
<div class="max-w-screen-lg mx-auto">
  <h1 class="text-center mt-4"><%= @project.title %></h1>
  <div class="form-container">
    <p>
      <strong>Description:</strong> <%= @project.description || 'No description provided' %>
    </p>

    <p>
      <strong>Created at:</strong> <%= @project.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </p>

    <p>
      <strong>Updated at:</strong> <%= @project.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </p>

    <div class="flex">
      <%= link_to 'Edit', edit_project_path(Current.user, @project), class: 'btn-primary' %>
      <%= button_to 'Delete', project_path(Current.user, @project), data: { turbo_confirm: 'Are you sure?' }, method: :delete, class: 'btn-primary' %>
      <%= link_to 'Back', projects_path(Current.user), class: 'btn-primary' %>
    </div>

    <h2 class="flex">Tasks (<%= @tasks.count %>)</h2>
    <%= link_to 'New Task', new_project_task_path(Current.user, @project), class: 'btn-primary' %>

    <ul>
      <% @tasks.each do |task| %>
        <li>
          <%= link_to task.title, project_task_path(Current.user, @project, task) %> - <%= task.completed ? "Completed" : "Incomplete" %>
          <p><%= task.description %></p>
          <p>Due: <%= task.due_date.strftime("%B %d, %Y") %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>